<div id= 'leftColumn'>
  <ul>
  <li><%= link_to("New Task", new_task_path) %></li>
  <li><%= link_to("Create Category", add_category_path) %></li>
	<li><%= link_to "Tasks", tasks_path %></li>
	<li><%= link_to "Projects", projects_path %></li>
  
  <ul>
</div>

<div id="feature">
<h2><%= current_user.username.capitalize %>'s Tasks</h2>

<% if current_user %>

	<% current_user.tasks.each do |t| %>
  
  
  
    <h2><%= link_to(t.task_name, task_path(t.id)) %></h2>
	<p><%= link_to("New Task", new_task_path, id: "new_link", remote: true) %></p>
	<p><%= link_to "Edit this Task", edit_task_path(t.id) %></p>
	<!-- <p>Category:<%# t.category %>, Project:<%# t.project %>, <%# t.status %></p> -->

<% end %>
<script src="jquery.sortable.min.js"></script>
<script>
    $('.sortable').sortable();
</script>
	
  
<% else %>

  <p><%= "No Tasks" %></p>  
  
<% end %>

</div>